

  @import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Share+Tech+Mono&display=swap');

  :root {
    --green: #006959;
  }

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items:center;
  background-image: linear-gradient(to bottom right, #222, #444);
  font-family: 'Share Tech Mono', monospace;
}

/* Video Background */
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

video {
  object-fit: cover;
  object-position: left;
}

.video-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255,255,255,0.35);
}

/* Container */
.container {
  min-width: 580px;
  min-height: 300px;
  color: black;
  margin: 0 auto;
  padding: 25px 50px;
  border-radius: 5px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.85);
}

.input-container {
  position: relative;
  top: 20px;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

/* Form */
.form {
  width: 480px;
  font-family: 'Inconsolata', monospace;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: bold;
  margin-left: 10px;
}

input {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #fff;
  outline: none;
  font-family: 'Inconsolata', monospace;
}

/* Button */
button {
  display: inline-block;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
  background: var(--green);
  color: white;
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
}

button:hover,
button:active {
  transform: scale(1.05) translateY(5px);
  font-weight: 700;
  font-size: 20px;
}

/* Countdown */
.countdown {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  margin-left: -45px;
  text-align: center;

}

li {
  display: inline-block;
  font-size: 30px;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 80px;
  text-align: center;
  color: var(--green);
  font-weight: 700;
}

/* Complete */
.complete {
  position: relative;
  top: 20px;
}

.complete-title {
  animation: complete 4s infinite;
}

@keyframes complete {
  0% {color: red}
  50% {color: red; transform:scale(1.5);}
  100%{color: red}
  
}


/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .video-background {
    height: 100vh;
    width: 100vw;
  }
 
  video {
    object-fit: cover;
    object-position: 10%;
    margin-top: -1px;
  }

  .container {
    min-width: unset;
    width: 95vw;
    min-height: 245px;
    padding: 20px;
    margin: 10px;
  }

  .input-container {
    top: unset;
  }

  .countdown {
    position: relative;
    top: 10px;
  }

  .form {
    width: unset;
  }

  input {
    width: 93%;
  }

  ul{
    margin-left: 0;

  }

  h1 {
    font-size: 28px;
  }

  li {
    font-size: 15px;
  }

  li span {
    font-size: 40px;
  }
}
